.travel{
    background-color: #F2F8FB;
}
.travel, .all-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0;
    .heading{
        margin-bottom: 30px;
        padding: 0 25%;
        h1{
            text-align: center;
            margin-bottom: 20px;
        }
        p{
            font-size: 15px;
            color: #888EAD;
            text-align: center
        }
    }
}
.view{
    @include button($primary-color);
    margin: 50px auto 10px;    
    // margin: 60px auto ;
}
.view:hover{
    background-color: $primary-hover-color;
    transform: scale(.9);
}

@media only screen and (max-width:992px){
    .travel .heading{
        padding: 0;
    }
}
